.navbar{
    box-shadow: 0 2px 4px #010052;
    background-color: rgb(0,2,122);
}

.navbar-nav{
    color: #ffffff;
}

.navbar-nav .nav-link:hover{
    color: #9bebff;
}

.navbar-brand{
    color: #ffffff;
}

.navbar-brand:hover{
    color: #9bebff;
}

.nav-link{
    color: #ffffff;
}

.nav-link:hover{
    color: #9bebff;
}

#tablaar{
    padding-block: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-color:#010052;
    border-radius: 20px;
}

.margTabla{
    margin-top: 40px;
    padding: 120px;
}

#tablar {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #000; 
    border-radius: 20px;
}

#tablar td, #tablar th {
    border: 1px solid #000; 
}

#tablar td, #tablar th {
    text-align: center; 
}

#tablar tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}



body{
    background-image: url(/static/imagenes/fondos-de-pantalla-3d-paisaje.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}