{% extends "layout.html" %}

{% block content %}
<br>
<br>
<div class="row">
    <div class="col-12">
        <section id="tablaar" class="container">
            <!--<p style="color: white;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit facilis aut quia praesentium sed quibusdam ipsum, blanditiis, veritatis distinctio aspernatur neque itaque nam sit eligendi perspiciatis quasi. Temporibus, et maxime?
            </p>-->
            <img src="/static/imagenes/Ya6NY6.gif" alt="GIF">
        </section>
    </div>
</div>


{% endblock %}
