{% extends "layout2.html" %}
{% block content %}
<h3>
    <CENTER> <b> Registrarse como Candidato</b> </CENTER>
</h3>
   <br>
   <br>
   <br>
<div class="row">
      <div class="col-12">
          <section id="tablaar" class="container">
            <form id="formwhite" action="/registrar_fagrega" method="post">
            <div class="container">
                <div class="form-row">
                    <div class="col-xs-12 ">
                    <div class="mb-3">
                          <label for="Vacante" class="form-label">ID de la Vacante</label>
                          <input type="text" class="form-control" name="Vacante" id="Vacante" placeholder="Vacante" value="{{comentar.0}}" >
                        </div>

                    </div>
              </div>
              <div class="form-row">
                    <div class="col-xs-12 ">
                    <div class="mb-3">
                          <label for="idPuesto" class="form-label">Puesto</label>
                          <input type="text" class="form-control" name="idPuesto" id="idPuesto" placeholder="IDPuesto" value="{{datou.0}}" >
                    </div>

                    </div>
              </div>

            <CENTER><b> Datos de identificacion</b> </CENTER>
              <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="curp" class="form-label">CURP</label>
                      <input type="text" class="form-control" name="curp" id="curp"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="rfc" class="form-label">RFC</label>
                      <input type="text" class="form-control" name="rfc" id="rfc"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre</label>
                      <input type="text" class="form-control" name="Nombre" id="Nombre"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Calle" class="form-label">Calle del Domicilio</label>
                      <input type="text" class="form-control" name="Calle" id="Calle"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Numero" class="form-label">Numero exterior o interior del Domicilio</label>
                      <input type="text" class="form-control" name="Numero" id="Numero"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Colonia" class="form-label">Colonia del Domicilio</label>
                      <input type="text" class="form-control" name="Colonia" id="Colonia"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="tel1" class="form-label">Telefono 1</label>
                      <input type="text" class="form-control" name="tel1" id="tel1"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="tel2" class="form-label">Telefono 2</label>
                      <input type="text" class="form-control" name="tel2" id="tel2"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Correo" class="form-label">Correo electronico</label>
                      <input type="text" class="form-control" name="Correo" id="Correo"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="edad" class="form-label">Edad</label>
                      <input type="number" class="form-control" name="edad" id="edad"></input>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                        <label for="sexo" class="form-label">Sexo</label>
                        <select class="form-control" name="sexo" id="sexo">
                            <option  selected="true" disabled="disabled">Elige...</option>
                            {% for dato in opciones_publicada %}
                                <option value="{{ dato }}">{{ dato }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                        <label for="Estado" class="form-label">Estado Civil</label>
                        <select class="form-control" name="Estado" id="Estado">
                            <option  selected="true" disabled="disabled">Elige...</option>
                            {% for dato in opciones_publicada2 %}
                                <option value="{{ dato }}">{{ dato }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">

                      <label for="Escolaridad" class="form-label">Escolaridad</label>
                      <select class="form-control" name="Escolaridad" id="Escolaridad">
                        <option  selected="true" disabled="disabled">Elige...</option>
                        {% for dato in opciones_publicada3 %}
                            <option value="{{ dato }}">{{ dato }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Grado" class="form-label">Grado de avance</label>
                      <select class="form-control" name="Grado" id="Grado">
                        <option  selected="true" disabled="disabled">Elige...</option>
                        {% for dato in opciones_publicada4 %}
                            <option value="{{ dato }}">{{ dato }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                      <label for="Carrera" class="form-label">Carrera</label>
                      <select class="form-control" name="Carrera" id="Carrera">
                        <option  selected="true" disabled="disabled">Elige...</option>
                        {% for dato in opciones_publicada5 %}
                            <option value="{{ dato }}">{{ dato }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

                </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
      </section>
</div>
</div>
{% endblock %}