{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-12">
    <section id="tablaar" class="container">
      <table id="tablar" class="margTabla" width="100%" border="1" cellpadding="0" bordercolor="#000000">
        <tbody>
          <tr>
            <td color="FFFFFF" bgcolor="lightblue" valign="top">
              <center><h3>VACANTES REGISTRADAS</h3></center>
              <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
                <thead>
                  <tr>
                    <td bgcolor="white">ID</td>
                    <td bgcolor="white">ConseVR</td>
                    <td bgcolor="white">Fuente del Candidato</td>
                    <td bgcolor="white">Inicio de la fecha de publicación</td>
                    <td bgcolor="white">Fin de la fecha de publicación</td>
                    <td bgcolor="white">Publicada</td>
                    <td bgcolor="white">Observaciones</td>
                    <td bgcolor="white">Candidato Seleccionado</td>
                    <td bgcolor="white">Fecha de Contratación</td>
                    <td bgcolor="white">ID de la Requisición</td>
                    <td bgcolor="white">ID del Puesto</td>


                  </tr>
                </thead>
                <tbody>
                  {% for dato in pue2 %}
                  <tr>
                    <td>{{ dato[0] }}</td>
                    <td>{{ dato[1] }}</td>
                    <td>{{ dato[2] }}</td>
                    <td>{{ dato[3] }}</td>
                    <td>{{ dato[4] }}</td>
                    <td>{{ dato[5] }}</td>
                    <td>{{ dato[6] }}</td>
                    <td>{{ dato[7] }}</td>
                    <td>{{ dato[8] }}</td>
                    <td>{{ dato[9] }}</td>
                    <td>{{ dato[10] }}</td>                    
                    <td bgcolor="#2B2D83"><center><a href="/registrar/{{ dato[0] }}" style="...">Registrarse</a></center></td>

                  </tr>
                  {% endfor %}
                </tbody>
                
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

{% endblock %}